.playmat-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playmat-slot {
  width: 150px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
}
